<h1>{{title}}</h1>
<form action="/students" method="POST">
First Name:<br>
<input type="text" name="firstName">
<br>Last Name:<br>
<input type="text" name="lastName">
<br>Student Number:<br>
<input type="text" name="studentNumber">
<br>Email :<br>
<input type="email" name="email">
<br>Date of Birth:<br>
<input type="date" name="dateOfBirth">
<br>Password :<br>
<input type="password" name="password">
<br><br>
<input type="submit" value="Submit">
</form>