<h1>{{title}}</h1>
<form action="/lookup" method="GET">
First Name:<br>
<input type="text" name="firstName">
<br>Password :<br>
<input type="password" name="password">
<br><br>
<input type="submit" value="Submit">
<h1>
    <p>first name : {{firstName}}</p>
 <br>
    <p>password : {{password}}</p>
</h1>
</form>